<div class="container-fluid">
    <div class="form-container">
        <h2 class="text-center">{{heading}}</h2>
        <form class="form" [formGroup]="signupForm">
            <input type="text" placeholder="Name" class="input-control" formControlName="name" required>
          <input type="text" placeholder="Email" class="input-control" formControlName="email" required>
          <input type="password" placeholder="Password" class="input-control" formControlName="password" required>
          <input type="password" placeholder="Confirm Password" class="input-control" formControlName="confirmPassword" required>
          <span style="color:red;font-size: 12px;margin-top: -12px;
          padding-bottom: 16px;
          font-weight: normal;">{{showError}}</span>
          <button type="submit"  class="sdrx-btn" (click)="handleRegistration()">{{heading == 'Sign Up'  ? 'Sign Up' : 'Add User' &&  heading == 'Edit User'?'Edit User':'Add User'}}</button>
            @if(heading == 'Sign Up'){
                <p class="text-center">Already have an account? <span (click)="navigateToSignin()">Sign in</span></p>
            }
        </form>
      </div>    
</div>
